*{
  margin:0;
padding:0;
}
body {
  background-color: #BDD6E6;
  height: 364px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.home{
		  background-color: #848180;
}

.heading{
	text-shadow: 2px 2px rgb(244 164 96);
}




/*navbar*/
#logoimag{
  width: 120px; 
  height: 169px;
  width: 285px;
  position: absolute;
  right: 1106px;
  top: -47;
  bottom: 444px;
left: -70;
top: -40;

}

.navbar {
  overflow: hidden;
  background-color: #333;
  margin-left: 136px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
 

}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover, .dropdown:hover, .dropbtn:hover {
  background-color: #848180;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.homepage{
	background-color: #848180;
}
 .card {
	
	padding-top: 71px;
      width:210px;
	float: left;
     height: 340px;
    padding: 5px;
     position: relative;
  background: #FFFEFE;
   border-radius: 20px;
   margin:27px;
   margin-left:10px;
   
}

.card .img{
  position: relative;
  padding-right: 10px;
  width:183px; 
  height: 235px;
  margin-left:14px;
  margin-top:13px;
 }


  .addtocart
{
	background-color: black;
	color: white; 
	font-family: Arial; 
	padding: 10px; 
	text-align: center;
	text-decoration: none;
    display: inline-block;
	font-size: 15px;
	margin: 4px 2px;
	cursor: pointer; 
	margin-left:49px;
}
  
  

        #Category{
          padding-top: 160px;
          margin-left: 50px;
          padding: 30px 30px;
          box-sizing: border-box;
          background-color:rgb(2, 2, 2 , 0.6);
          box-shadow: 0 10px 15px -10px rgb(88, 83, 83);
          height: 400px;
          width: 242px;
        }
        .ub{
          margin-left: 70px;
        }
       
#category
{
    background-color: rgb(253, 253, 253,0.5);
    width: 70%;
    height: 481px;
    margin-left: 257px;
    margin-right: 110px;
    
}
#banner
{
  height: 300px;
  width: 742px;
}

#aaa 
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
  text-align: center;
  background-color: #f1f1f1;
  width: 250px;
  display: block;
  margin-bottom: 20px;
  float: left;
  width: 784px;
  height: 350px;
  margin-left: 30px;
  margin-top: 20px;
  padding: 10px 20px;  
  height: 364px;
  margin-left: 31px;
  margin-top: 0px;
}

span{
  margin-left: 50px;
}


.footer_content{
  width: 600px;
  height: 60px;
  padding-left: 60px;
  padding-top: 40px;
}

.contact_details{
height: 90px;
width: 300px;
float: right;
padding-right: 50px;
}

.container_1{
  background-color: #ffffff;
  width: 500px;
  height: 350px;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  padding-left: 730px;
  margin-left: 50px;
}

.image-container{
  width: 200px;
  height: 200px;
}

img{
  
  width: 200px;
  height: 280px;
  
}

/*about us*/
  .aboutus{
  margin-top: 408px;
  position: relative;
  background-color: #EEF8FE;
  height: 364px;
  width: 1349px;
 
  }
  
  .au1{
      font-size: 20px;
      color: rgb(0, 0, 0);
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 15px;
	  width: 278px;

  }


  .con2{
    position: relative;
    margin-right: 74px;
    padding: 210px;
    width:250px;
    height: 100px;
    display:inline-block;
    float: right;
    border-bottom: 20px;
    padding-top: 8px;
    color: #EEF8FE;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    left: 73px;
    top: -187px;
    bottom: -50px; 
      	
}
  .info{
   font-size: 20px;
   color: rgb(0, 0, 0);
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   width: 400px;
   margin-right: -107px;
   margin-left: 15px;
    text-align: left;
  }

  .icons{
    width: 70px;
    height: 50px;
    
  }

  .icons_1{
   padding: 10px;
   width: 439px;
  }

  .rg{
    width:200px;
    height:50px;
    margin-right: 110px;
    background-color:brown;
    margin-top: 20px;
    margin-left: 15px;
    color: #ddd;
    font-size: 18px;

  }

  .rg :hover{
    background-color: #848180;
  }

  #fb{
    width: 100px
  }

  .more{
    position:relative;
    left: 382px;
    top: -920;
    background-color: #f7ca01;
    color:black; 
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  

  .more:hover{
    background-color: hsl(49, 100%, 65%);
  }

 
